<header class="app-header">
  <div class="app-logo">
    <h1 class="title">Mr<span>.</span> Bitcoin</h1>
  </div>
  <nav>
    <a href="#">
      <mat-icon (click)="toggleLogin()" [fontIcon]="loggedinUser ? 'logout' : 'login'"></mat-icon>
    </a>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon fontIcon="home"></mat-icon>
    </a>
    <a *ngIf="loggedinUser" routerLink="/contact" routerLinkActive="active">
      <mat-icon fontIcon="contacts"></mat-icon>
    </a>
    <a class="stats" routerLink="/stats" routerLinkActive="active">
      <mat-icon fontIcon="insights"></mat-icon>
    </a>
  </nav>
</header>

<login *ngIf="isLoginModalOpen" (toggleLogin)="toggleLogin()"></login>