@import '../../../styles/mq.scss';

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--bg-clr2);
  // margin-bottom: 40px;

  @include for-mobile-layout {
    padding-inline-end: 0;
  }

  .app-logo {
    span {
      color: var(--highlight-clr1);
    }

    .title {
      font-family: 'Lucida Sans', 'Lucida Sans Regular';
      font-weight: 700;
      font-size: 30px;
      margin: 0;
    }
  }

  nav {

    @include for-mobile-layout {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    >*:not(:last-child) {
      margin-inline-end: 20px;

      @include for-mobile-layout {
        margin-inline-end: 10px;
      }
    }

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 6px 10px;
      border-radius: 16px;

      &.active {
        background-color: var(--highlight-clr1);
      }
    }

    .stats {

      @include for-mobile-layout {
        display: none;
      }
    }
  }
}