<section class="contact-page">
  <main class="contact-layout">
    <div class="contact-list">
      <div class="search">
        <input type="text" placeholder="Search All Contacts">
        <button>
          <a routerLink="/contact/edit" routerLinkActive="active">
            <mat-icon fontIcon="add_circle_outline"></mat-icon>
          </a>
        </button>
      </div>
      <contact-preview [class.selected]="selectedContactId === contact._id"
        (selectedContactId)="onSelectContact($event)" [contact]="contact" *ngFor="let contact of contacts">
      </contact-preview>
      <div class="contact-count">{{contacts.length}} Contacts</div>
    </div>
    <!-- <contact-details *ngIf="selectedContactId" [contactId]="selectedContactId"></contact-details> -->
    <router-outlet></router-outlet>
  </main>
</section>