.contact-page {
  height: 100%;
  // padding-top: 40px;
  // padding-bottom: 50px;

  .contact-layout {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(220px, 2fr) 3fr;

    .contact-list {
      position: relative;
      overflow-y: auto;
      border-right: 1px solid var(--border-clr2);
      scrollbar-width: thin;
      scrollbar-color: #878787 #D9D9D9;
      display: flex;
      flex-direction: column;
      background-color: var(--bg-clr2);

      &::-webkit-scrollbar {
        width: 4px;
        cursor: pointer;
      }

      &::-webkit-scrollbar-track {
        background: #D9D9D9;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: #A6A5A5;
        cursor: pointer;
      }

      .search {
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: var(--bg-clr2);

        input {
          flex: 1;
          padding: 10px;
          margin: 0;
          border: none;
          font-size: 18px;
          color: var(--clr1);

          &::placeholder {
            color: var(--txt-clr2);
          }

          &:focus {
            outline: none;
          }
        }

        button {
          padding-inline: 10px;
          cursor: pointer;

          &:hover *{
            color: var(--highlight-clr1);
          }
        }
      }

      .contact-count {
        position: sticky;
        bottom: 0;
        text-align: center;
        background-color: var(--bg-clr3);
        margin-top: auto;
      }
    }
  }
}

contact-preview {
  display: block;
  height: fit-content;
  background-color: var(--bg-clr2);
}