:root {
  --main-bg-clr: #1c1b22;
  --bg-clr1: #2b2a33;
  --bg-clr2: #18181a;
  --bg-clr3: #8b8b8b2d;

  --txt-clr1: #fbfbfe;
  --txt-clr2: #c0c0c1;


  --clr1: #1c1e20;
  --border-clr1: #303030;
  --border-clr2: #696969;
  --highlight-clr1: #f18a1d;
  --highlight-clr2: #ff3747;


}

// COLOR PALETTE
$clr1: #FF521C;
$clr2: #000;
$clr3: #fff;
$clr4: darken($clr3, 40%);
$clr5: #2d2d2d;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-mobile: 800px;
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;