.contact-preview {
  padding-inline-start: 20px;
  padding-block: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .contact-name {
    cursor: pointer;
  }

  &.active {
    background-color: var(--bg-clr1);

    h3 {
      color: var(--highlight-clr1);
    }
  }

  h3 {
    margin: 0;
  }

  .btns>* {
    cursor: pointer;
  }
}

.contact-preview:first-child {
  border-bottom: 1px solid var(--border-clr1);
}