<app-header></app-header>
<!-- <home-page *ngIf="currPage === 'home'"></home-page> -->
<!-- <contact-page *ngIf="currPage === 'contact'"></contact-page> -->
<!-- <stats-page *ngIf="currPage === 'stats'"></stats-page> -->
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
